.home-body
  background-image: url(imgs/green-peppercorns.jpg)
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  &::before
    content: ""
    position: absolute
    width: 100%
    height: 100%
    background: linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%)
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%)


.home-container
  height: 90vh
  position: relative

.home-copy__container
  padding: 28px
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center

.home-copy__headline,
.home-copy__subline,
.home-copy__subline strong
  color: $white
  font-size: 13px

.home-copy__headline
  font-family: $ECircA-Reg
  text-transform: uppercase
  letter-spacing: $letter-spacing

.home-copy__subline
  font-family: $ACPro-Reg
  letter-spacing: 2px
  line-height: 24px

.home-copy__subline strong
  font-family: $ACPro-Reg

.home-button_menu
  border: none
  background-color: #fff
  padding: 12px 32px
  font-family: Euclid CircularA-Bold, san sariff
  font-size: 13px
  letter-spacing: 3px
  -webkit-transition: all .3s ease-in-out
  -moz-transition: all .3s ease-in-out
  transition: all .3s ease-in-out

.home-button_reserve
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1)
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1)
  box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1)
  background-color: transparent
  padding: 12px 32px
  margin: 0 12px
  color: #fff
  font-family: Euclid CircularA-Bold, san sariff
  font-size: 13px
  letter-spacing: 3px
  -webkit-transition: all .3s ease-in-out
  -moz-transition: all .3s ease-in-out
  transition: all .3s ease-in-out

.home-button_menu:hover
  background-color: #000
  color: #fff
  -webkit-transition: all .3s ease-in-out
  -moz-transition: all .3s ease-in-out
  transition: all .3s ease-in-out

.home-button_reserve:hover
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1)
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1)
  box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1)
  background-color: #fff
  padding: 12px 32px
  color: #000
  font-family: Euclid CircularA-Bold, san sariff
  font-size: 13px
  letter-spacing: 3px
  -webkit-transition: all .3s ease-in-out
  -moz-transition: all .3s ease-in-out
  transition: all .3s ease-in-out

////////////////////////////// Media Queries
@media screen and (max-height: 414px)
  .home-container
    height: initial
@media screen and (min-width: 768px)
  .home-copy__container
    width: 40%
    margin-left: 50%
    padding: 0
    background: none
    max-width: 375px
    padding-bottom: 8%

@media screen and (min-width: 996px)
  .home-copy__container
    margin-left: 60%
