doctype html
html
  include head.jade
  
  body.home-body
    include nav.jade
    
    section.home-container
      .home-copy__container
        h3.home-copy__headline 
          | we’re glad you’re here
        p.home-copy__subline
          | Comune presents plant-forward cuisine: flavorful, satisfying, eminently shareable dishes made from in&nbsp;season ingredients, sourced from close by.
        h3.home-copy__headline
          | join us
          
        p.home-copy__subline
          strong Lunch&nbsp 
          | / 
          i Mon-Fri: 11 a.m. - 3 p.m.
          br
          strong Evening&nbsp 
          | / 
          i Mon-Th: 5 p.m. - 10 p.m.
          br
          i &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fri-Sat: 5 p.m. - 11 p.m.

        h3.home-copy__headline
          | in season
        p.home-copy__subline
          | apple / beets / cauliflower / celery root / kabocha&nbsp;squash&nbsp;/&nbsp;turnip 
        .home-button_container
          a(href='menu.html', type='button')
            button.home-button_menu MENU
          a(href='reserve.html', type='button')
            button.home-button_reserve RESERVE
          //- a.home-button_call(href='', type='button')
          //-   | CALL
          //-   br
          //-   | 614-555-1234
            
              
    

    
    include footer.jade
