doctype html
html
  include head.jade
  
  body.home-body
    include nav.jade
    
    section.home-container
      .home-copy__container
        h3.home-copy__headline 
          | we’re glad you’re here
        p.home-copy__subline
          | Comune presents plant-forward cuisine: flavorful, satisfying, eminently shareable dishes made from in&#x2011season ingredients, sourced from close by.
        h3.home-copy__headline
          | join us
          
        p.home-copy__subline
          strong Morning&nbsp 
          | / 
          i Mon-Fri: 6:30 a.m. - 11 a.m.
          br
          strong Day&nbsp 
          | / 
          i Mon-Fri: 11 a.m. - 3 p.m.
          br
          strong Evening&nbsp 
          | / 
          i Mon-Th: 5 p.m. - 10 p.m.
          br
          i &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFri-Sat: 5 p.m. - 11 p.m.
          br
          strong Brunch&nbsp 
          | / 
          i Sat-Sun: 8 a.m. - 3 p.m.

        h3.home-copy__headline
          | in season
        p.home-copy__subline
          | asparagus / broccoli / cauliflower / fennel / parsnip&nbsp/&nbsptruffle
    

    
    include footer.jade
