#menu(onclick='mobileMenu()')
  span.hamburger-icon(onclick='mobileIcon()')
    span.hamburger-bar.hamburger-bar-1
    span.hamburger-bar.hamburger-bar-2
    span.hamburger-bar.hamburger-bar-3
a.logo(href='index.html')
  img(src='imgs/comune_logo.svg')
nav#mobile-nav
  a.mobile-nav-item(href='about.html') about
  a.mobile-nav-item(href='menu.html') menu
  a.mobile-nav-item(href='reserve.html') reserve
  a.mobile-nav-item(href='events.html') events
  a.mobile-nav-item(href='contact.html') contact
  a.mobile-nav-item.team(href='team.html') team
nav.desktop-nav
  nav.nav-links
    a.nav-item(href='about.html') about
    a.nav-item(href='menu.html') menu
    a.nav-item(href='reserve.html') reserve
    a.nav-item(href='events.html') events
    a.nav-item(href='contact.html') contact
    a.nav-item.team(href='team.html') team
