doctype html
html
  include head.jade
  
  body
    include nav.jade
    
    section.reserve-body
      .reserve-copy__container
        script(type='text/javascript', src='//www.opentable.com/widget/reservation/loader?rid=1018249\&domain=com&type=standard&theme=standard&lang=en&overlay=false&iframe=true')
    

    
    include footer.jade
