doctype html
html
  include head.jade
  
  body
    include nav.jade
    
    section.reserve-body
      .reserve-copy__container
        a#resyButton-dDh2jWTx93o(href='https://resy.com/cities/clb/comune') Book your Comune reservation on Resy
        script(src='https://widgets.resy.com/embed.js')
        script.
          resyWidget.addButton(document.getElementById('resyButton-dDh2jWTx93o'), {"venueId":6027,"apiKey":"JKHzu3NUUvEZzUk6ZSkBLqBV9yAMbpXe","replace":true,});

    
    include footer.jade
