
/*******************
General
*******************/
@font-face {
    font-family: 'Euclid Triangle-Reg';
    src: url('webfonts/EuclidTriangle-Regular.otf')format("opentype"),
          url('webfonts/EuclidTriangle-Regular.woff2')format("woff2"),
          url('webfonts/EuclidTriangle-Regular.woff')format("woff"),
          url('webfonts/EuclidTriangle-Regular.ttf')format("truetype");

}

@font-face {
    font-family: 'Euclid Triangle-Semi';
    src: url('webfonts/EuclidTriangle-Semibold.otf')format("opentype"),
          url('webfonts/EuclidTriangle-Semibold.woff2')format("woff2"),
          url('webfonts/EuclidTriangle-Semibold.woff')format("woff"),
          url('webfonts/EuclidTriangle-Semibold.ttf')format("truetype");
      }

@font-face {
    font-family: 'Euclid CircularA-Reg';
    src: url('webfonts/EuclidCircularA-Regular.otf')format("opentype"),
          url('webfonts/EuclidCircularA-Regular.woff2')format("woff2"),
          url('webfonts/EuclidCircularA-Regular.woff')format("woff"),
          url('webfonts/EuclidCircularA-Regular.ttf')format("truetype");
}

@font-face {
    font-family: 'Euclid CircularA-Bold';
    src: url('webfonts/EuclidCircularA-Bold.otf')format("opentype"),
          url('webfonts/EuclidCircularA-Bold.woff2')format("woff2"),
          url('webfonts/EuclidCircularA-Bold.woff')format("woff"),
          url('webfonts/EuclidCircularA-Bold.ttf')format("truetype");
}

@font-face {
    font-family: 'ACaslonPro-Italic';
    src: url('webfonts/ACaslonPro-Italic.otf')format("opentype");

}

@font-face {
    font-family: 'ACaslonPro-Reg';
    src: url('webfonts/ACaslonPro-Regular.otf')format("opentype");
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
 body {
  position: relative;
  background-color: #dec6b9;
  opacity:0;  /* make things invisible upon start */
  animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration:.5s;
  animation-delay: .2s
 }

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
